{% include 'minora/header.html' with title='Problem Details' %}
{% include 'minora/navbar-problem.html' %}

<div class="container text-center" style="margin-top:2%">
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5 ">

<h2>Current Problem Data</h2>
<p class="font-weight-normal">
    This page displays the problem dataset as it was parsed from the problem's
    file.
</p>
<h3>Multicriteria Table</h3>
<p class="font-weight-normal">
    The Multicriteria table has several columns. The first one lists the
    alternatives' names. The second one shows the decision maker's ranking of
    those alternatives. After that there's a column for each criterion, that
    lists each alternative's value for that criterion.
</p>
<div class="row justify-content-center mt-1" id="multicrit_tbl">
    {{ multicrit_tbl|safe }}
</div>
<br>
<h3>Criteria parameters</h3>
<p class="font-weight-normal">
    The Criteria Parameters table lists each criterion's
    monotonicity and number of equal-width subdivisions of its value range.
</p>
<div class="row justify-content-center mt-1" id="crit_param">
    {{ crit_params|safe }}
</div>

<form action="{% url 'minora:details' problem.id %}" method="POST" enctype="multipart/form-data" class="">
    {% csrf_token %}
        <h2>Set problem variables</h2>
        <div class="mb-3">
        <label for="text" class="form-label">Set δ (delta) variable</label><br>
        <input type="text" name="delta" id="delta" value="{{ problem.delta }}" class="form-control text-center"><br>
        </div>
        <div class="mb-3">
        <label for="text" class="form-label">Set ε (epsilon) variable</label><br>
        <input type="text" name="epsilon" id="epsilon" value="{{ problem.epsilon }}" class="form-control text-center"><br>
        </div>
    <button type="submit" class="btn btn-primary mt-0">Submit</button>
</form>
        </div>
    </div>
</div>

{% include 'minora/footer.html' %}
