<!doctype html>
<html class="no-js" lang="">
	<head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Problem Details</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="/apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </head>

    <!-- Navbar -->
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="/minora">Bluehunt</a>
    </nav>


    <body>
        <h1>Current Problem Data</h1>
        <strong>Multicriteria table</strong>
        <div id="multicrit_tbl">
            {{ multicrit_tbl.to_html | safe }}
        </div>
        <br>
        <strong>Criteria parameters</strong>
        <div id="crit_param">
            {{ crit_params.to_html | safe }}
        </div>

        <form action="{% url 'minora:details' problem.id %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset>
                <legend><h1>Set problem variables</h1></legend>
                <label for="text">Set δ (delta) variable</label><br>
                <input type="text" name="delta" id="delta" value="{{ problem.delta  }}"><br>
                <label for="text">Set ε (epsilon) variable</label><br>
                <input type="text" name="epsilon" id="epsilon" value="{{ problem.epsilon }}"><br>
            </fieldset>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>
