{% include 'minora/header.html' with title='Evaluate New Alternative'%}
{% include 'minora/navbar-problem.html' %}
<div class="container text-center pb-5" style="margin-top:2%">
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            <h2>Evaluate New Alternative</h2>
            <p>You can calculate the utility of a new alternative by filling out
                the form at the bottom of this page and clicking on "Evaluate".
                After that the multicriteria table will display the new
                alternative according to the ranking of its utility.</p>
            <h3>Multicriteria Table</h3>
            <div class="row justify-content-center mt-1 mb-3" id="multicrit_tbl">
                {{ multicrit_tbl|safe  }}
            </div>
            <form action="{% url 'minora:evaluate-alternative' problem.id %}" method="POST" enctype="multipart/form-data" class="">
                {% csrf_token %}
                {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
                <div class="mb-3">
                    <label for="name" class="form-label">New alternative's name:</label>
                    <input type="text" name="name" id="name" class="form-control">
                </div>
                {% for criterion in criteria %}
                    <div class="mb-3">
                        <label for="{{ criterion }}" class="form-label">Value for criterion {{ criterion  }}:</label>
                        <input type="text" name="{{ criterion }}" id="{{ criterion }}" class="form-control">
                    </div>
                {% endfor %}
                <button type="submit" class="btn btn-primary mt-0">Evaluate</button>
            </form>
        </div>
    </div>
</div>

{% include 'minora/footer.html' %}
