<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Index of problems.</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="/apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </head>

    <!-- Navbar -->
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="/minora">Bluehunt</a>
    </nav>

    <body>
        <div class="container" style="margin-top:2%">
        <div class="jumbotron">
        <h1 class="display-4">Choose your problem</h1>
        <div class="row d-flex justify-content-center">
        {% if problem_list %}
            <ul class="list-group col-md-6 text-center mt-5">
                {% for problem in problem_list %}
                <li class="list-group-item list-group-item-action"><a href="{% url 'minora:details' problem.id %}">{{ problem.name }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <p class="text-center mt-5">No problems are available.</p>
        {% endif %}
        </div>
        <p class="text-center mt-5"><a href="{% url 'minora:upload-problem' %}" class="btn btn-primary" role="button">Upload new problem!</a></p>
        </div>
        </div>
    </body>
</html>
